@font-face {
    font-family: 'ecoico';
    src: url('../fonts/timelineicons/ecoico.eot');
    src: url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'), url('../fonts/timelineicons/ecoico.woff') format('woff'), url('../fonts/timelineicons/ecoico.ttf') format('truetype'), url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Made with http://icomoon.io/ */

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

    /* The line */
    .cbp_tmtimeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #ccc;
        left: 11%;
        margin-left: -10px;
    }

    /* The date/time */
    .cbp_tmtimeline > li .cbp_tmtime {
        display: block;
        width: 15%;
        padding-right: 65px;
        position: absolute;
    }

        .cbp_tmtimeline > li .cbp_tmtime span {
            display: block;
            text-align: right;
        }

            .cbp_tmtimeline > li .cbp_tmtime span:first-child {
                font-size: 15px;
                color: #888;
            }

            .cbp_tmtimeline > li .cbp_tmtime span:last-child {
                font-size: 26px;
                color: #3594cb;
                font-weight: bold;
            }
    /* 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}*/

    /* Right content */
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 15px 15%;
        /*background: #3594cb;*/
        color: #fff;
        padding: 2em;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        border-radius: 5px;
        color: #444;
        border: 1px solid #ccc;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
        /*background: #6cbfee;*/
    }

    .cbp_tmtimeline > li .cbp_tmlabel h2 {
        margin-top: 0px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }

    /* The triangle */
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: 100%;
        /*border: solid transparent;border-right-color: #3594cb;*/
        content: " ";
        height: 15px;
        width: 15px;
        position: absolute;
        pointer-events: none;
        /*border: solid transparent;
	border-width: 10px;*/
        top: 10px;
        margin-right: -7px;
        background: #fff;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')"; filter: progid:DXImageTransform.Microsoft.Matrix( M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand');
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        /*border-right-color: #6cbfee;*/
    }

    /* The icons */
    .cbp_tmtimeline > li .cbp_tmicon {
        width: 6px;
        height: 6px;
        font-family: 'ecoico';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.4em;
        line-height: 40px;
        -webkit-font-smoothing: antialiased;
        position: relative;
        color: #fff;
        background: #46a4da;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #afdcf8;
        text-align: center;
        left: 11%;
        top: 22px;
        margin: 0px 0 0 -12px;
    }
/* 
.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}
*/
/* Example Media Queries */
/*@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

        .cbp_tmtimeline > li .cbp_tmtime span {
            text-align: left;
        }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

        .cbp_tmtimeline > li .cbp_tmlabel:after {
            right: auto;
            left: 20px;
            border-right-color: transparent;
            border-bottom-color: #3594cb;
            top: -20px;
        }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }
}*/

/* miao 150430 */

.cbp_tmtimeline > li .cbp_tmlabel {
    padding: 1em 0 2em 0;
}

.cbp_tmtimeline .cbp_tmlabel h4 {
    font-family: SimHei,'Microsoft YaHei';
    border-bottom: 1px solid #ccc;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 15px;
}

    .cbp_tmtimeline .cbp_tmlabel h4 small {
        float: right;
    }

.cbp_tmtimeline .cbp_tmlabel .pay-content, .cbp_tmtimeline .cbp_tmlabel .pay-total {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 15px;
    /*font-size: 13px;*/
    font-size: 18px;
    font-weight:bold;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

    .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul > li {
        display: inline-block;
        width: 32%;
        /*height: 100px;
                margin: 1em;*/
        vertical-align: top;
        zoom: 1;
        padding-right: 30px;
    }

        .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base h5, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base h5 {
            font-weight: bold;
            padding-bottom: 10px;
        }


        .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base ul, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }

            .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base ul > li {
                line-height: 1.8;
            }

                .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base ul > li > span, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul > li > span {
                    float: right;
                    color: black;
                    font-weight: bold;
                    width:66px;
                }


                .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base ul > li > .red, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul > li .red {
                    float: right;
                    color: red;
                    font-weight: bold;
                }

                .cbp_tmtimeline .cbp_tmlabel .pay-content .pay-base ul > li > .green, .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul > li .green {
                    float: right;
                    color: green;
                    font-weight: bold;
                }


            .cbp_tmtimeline .cbp_tmlabel .pay-total .pay-base ul > li {
                line-height: 1.8;
            }


.pay-base h5 {
font-size:24px;}